.drag-list {
  list-style: none;
  padding: 0;
  width: 50%;
}

.drag-item {
  background-color: #b4afb6;
  padding: 10px;
  margin-bottom: 5px;
  cursor: move;
}

.main{
  margin-top: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}